/* DARK MODE THEME */

.dark-mode {
    background: #0f172a;
    color: #e2e8f0;
}

/* Navbar */

.dark-mode .navbar{
    background: rgba(15,23,42,0.9) !important;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.dark-mode .navbar a{
    color:#e2e8f0 !important;
}

/* Hero Section */

.dark-mode .hero-section{
    background: linear-gradient(135deg,#020617,#1e293b,#0f172a);
}

/* Cards */

.dark-mode .card,
.dark-mode .achievement-card
{
    background: rgba(30,41,59,0.6);
    border:1px solid rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    color:#e2e8f0;
    border-radius:14px;
    transition: all 0.3s ease;
}

.dark-mode .card:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

/* Buttons */

.dark-mode .btn-light{
    background:#1e293b;
    color:#e2e8f0;
    border:none;
}

.dark-mode .btn-light:hover{
    background:#334155;
}

.dark-mode .btn-outline-primary{
    border-color:#60a5fa;
    color:#60a5fa;
}

.dark-mode .btn-outline-primary:hover{
    background:#60a5fa;
    color:white;
}

/* Sections */

.dark-mode section{
    background:#0f172a;
}

/* Footer */

.dark-mode footer{
    background:#020617;
    border-top:1px solid rgba(255,255,255,0.05);    
    color:white;
}

/* Links */

.dark-mode a{
    color:#93c5fd;
}

/* Smooth transition */

body{
    transition: background 0.4s ease, color 0.4s ease;
}


.dark-mode .achievement-card{
    background: rgba(30,41,59,0.6);
    color:#e2e8f0;
    border:1px solid rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}

.dark-mode .achievement-card h3{
    color:#60a5fa;
}

.dark-mode .achievement-card p{
    color:#cbd5f5;
}

.dark-mode .services-section{
    background:#020617;
}

.dark-mode .service-card{
    background:#1e293b;
    color:#e2e8f0;
    border:none;
}

.dark-mode .service-card h4{
    color:#93c5fd;
}

.dark-mode .service-card p{
    color:#cbd5f5;
}

.dark-mode .service-card i{
    color:#60a5fa;
}

.dark-mode h2{
    color:#e2e8f0;
}

.dark-mode p{
    color:white;
}
/* .dark-mode section{
    background:#0f172a;
} */

/* glass button */

.btn-glass{
            background-color: rgba(255,255,255,0.2);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border:1px rgba(255,255,255,0.3) solid;
            color:#fff;
            transition:all 0.3s ease;
        }
        
        .btn-glass:hover{
            background-color: rgba(255,255,255,0.4);
            color:#fff;
            border:1px solid rgba(255,255,255,0.5);
        }